//Colors
$main-color-border: Gainsboro;
$sidebar-color-border: #363636;
$paragraph-color: #9c9c9c;
$left-border-hover-color: #f58220;
$hover-paragraph-color: white;

/* Font sizes */
$paragraph-font-size: 20px;


/* Fonts */
$paragraph-font: 'Roboto', sans-serif;