<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <title>First project by M.Ch.</title>
  </head>
  <body>
    <!--TOP BAR-->
    <header>
      <nav class="top-navi">
        <a href="#" class="nav-one">
          <img src="../images/icons/wallet.svg" />
          <p>$1,500.00</p>
          <img src="../images/icons/arrow-down-small.svg" />
        </a>
        <a href="#" class="nav-two">
          <div class="bell">
            <img src="../images/icons/notification.svg" class="notif" />
            <span class="orange-point"></span>
          </div>
        </a>
        <a href="#" class="nav-three">
          <img src="../images/icons/profile.svg" />
          <p class="name-style">Leonardo Dicaprio</p>
        </a>
        <a href="#" class="nav-four">
          <img src="../images/icons/quit.svg" />
        </a>
      </nav>
    </header>

    <!--SIDEBAR-->
    <aside class="sidebar">
      <div class="aside-logo">
        <img src="../images/icons/logo.png" class="logo" />
        <button id="navbar-hamburger">
          <img src="../images/icons/hamburger.png" class="hamburger" />
        </button>
      </div>
      <div class="aside-menu">
        <a href="../index.html" class="side-general fix">
          <img src="../images/icons/general.svg" />
          <p>General</p>
        </a>
        <a href="#" class="side-details fix">
          <img src="../images/icons/details.svg" />
          <p>Details</p>
        </a>
        <a href="./links.html" class="side-links">
          <img src="../images/icons/links.svg" />
          <p>Links</p>
        </a>
        <a href="./banners.html" class="side-banners active">
          <img src="../images/icons/banners.svg" />
          <p>Banners</p>
        </a>
        <a href="#" class="side-personal">
          <img src="../images/icons/personaldata.svg" />
          <p>Personal data</p>
        </a>
        <a href="#" class="side payout">
          <img src="../images/icons/payout.svg" />
          <p>Payout</p>
        </a>
        <a href="#" class="side-postback">
          <img src="../images/icons/postback.svg" />
          <p>Postback</p>
        </a>
        <a href="#" class="side-manager">
          <p>YOUR MANAGER</p>
          <div class="photo-manager">
            <img src="../images/icons/photo.png" class="photoMan" />
            <span class="green-point"></span>
            <p class="name-style">Mikhael E.</p>
          </div>
        </a>
        <div class="side-top-navi">
          <a href="#" class="nav-one">
            <img src="../images/icons/wallet.svg" />
            <p>$1,500.00</p>
            <img src="../images/icons/arrow-down-small.svg" />
          </a>
          <a href="#" class="nav-two">
            <div class="bell">
              <img src="../images/icons/notification.svg" class="notif" />
              <span class="orange-point"></span>
            </div>
          </a>
          <a href="#" class="nav-three">
            <img src="../images/icons/profile.svg" />
            <p class="name-style">Leonardo Dicaprio</p>
          </a>
          <a href="#" class="nav-four">
            <img src="../images/icons/quit.svg" />
          </a>
        </div>
      </div>
    </aside>

    <!--BANNERS-->
    <section class="links">
      <h3 class="section-header-style">banners</h3>
      <div class="links-container">
        <button class="button-section"><span>+ add new</span></button>
        <table class="links-table">
          <tbody>
            <tr>
              <td class="link-title banner-title">Banner main</td>
              <td class="link-details banner-details">
                <a href="#">http://www.website.com/bannermain.gif</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="link-title banner-title">Sign up banner</td>
              <td class="link-details banner-details">
                <a href="#">http://www.website.com/signup.gif</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="link-title banner-title">Banner left side</td>
              <td class="link-details banner-details">
                <a href="#">http://www.website.com/leftside.gif</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="link-title banner-title">Vertical banner</td>
              <td class="link-details banner-details">
                <a href="#">http://www.website.com/vert.gif</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="link-title banner-title">Front banner</td>
              <td class="link-details banner-details">
                <a href="#">http://www.website.com/front.gif</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="link-title banner-title">Horizontal banner</td>
              <td class="link-details banner-details">
                <a href="#">http://www.website.com/horizontal.gif</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="button-section"><span>+ add new</span></button>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>
