<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <title>First project by M.Ch.</title>
  </head>
  <body>
    <!--TOP BAR-->
    <header>
      <nav class="top-navi">
        <a href="#" class="nav-one">
          <img src="../images/icons/wallet.svg" alt="wallet-image" />
          <p>$1,500.00</p>
          <img src="../images/icons/arrow-down-small.svg" alt="arrow-image" />
        </a>
        <a href="#" class="nav-two">
          <div class="bell">
            <img
              src="../images/icons/notification.svg"
              class="notif"
              alt="notification-image"
            />
            <span class="orange-point"></span>
          </div>
        </a>
        <a href="#" class="nav-three">
          <img src="../images/icons/profile.svg" alt="profile-image" />
          <p class="name-style">Leonardo Dicaprio</p>
        </a>
        <a href="#" class="nav-four">
          <img src="../images/icons/quit.svg" alt="quit-image" />
        </a>
      </nav>
    </header>

    <!--SIDEBAR-->
    <aside class="sidebar">
      <div class="aside-logo">
        <img src="../images/icons/logo.png" class="logo" alt="logo-image" />
        <button id="navbar-hamburger">
          <img
            src="../images/icons/hamburger.png"
            class="hamburger"
            alt="hamburger-image"
          />
        </button>
      </div>
      <div class="aside-menu">
        <a href="../index.html" class="side-general">
          <img src="../images/icons/general.svg" alt="general-image" />
          <p>General</p>
        </a>
        <a href="#" class="side-details">
          <img src="../images/icons/details.svg" alt="details-image" />
          <p>Details</p>
        </a>
        <a href="./links.html" class="side-links active">
          <img src="../images/icons/links.svg" alt="links-image" />
          <p>Links</p>
        </a>
        <a href="./banners.html" class="side-banners">
          <img src="../images/icons/banners.svg" alt="banners-image" />
          <p>Banners</p>
        </a>
        <a href="#" class="side-personal">
          <img
            src="../images/icons/personaldata.svg"
            alt="personaldata-image"
          />
          <p>Personal data</p>
        </a>
        <a href="#" class="side payout">
          <img src="../images/icons/payout.svg" alt="payout-image" />
          <p>Payout</p>
        </a>
        <a href="#" class="side-postback">
          <img src="../images/icons/postback.svg" alt="postback-image" />
          <p>Postback</p>
        </a>
        <a href="#" class="side-manager">
          <p>YOUR MANAGER</p>
          <div class="photo-manager">
            <img
              src="../images/icons/photo.png"
              class="photoMan"
              alt="manager-image"
            />
            <span class="green-point"></span>
            <p class="name-style">Mikhael E.</p>
          </div>
        </a>
        <div class="side-top-navi">
          <a href="#" class="nav-one">
            <img src="../images/icons/wallet.svg" alt="wallet-image" />
            <p>$1,500.00</p>
            <img src="../images/icons/arrow-down-small.svg" alt="arrow-image" />
          </a>
          <a href="#" class="nav-two">
            <div class="bell">
              <img
                src="../images/icons/notification.svg"
                class="notif"
                alt="notification-image"
              />
              <span class="orange-point"></span>
            </div>
          </a>
          <a href="#" class="nav-three">
            <img src="../images/icons/profile.svg" alt="profile-image" />
            <p class="name-style">Leonardo Dicaprio</p>
          </a>
          <a href="#" class="nav-four">
            <img src="../images/icons/quit.svg" alt="quit-image" />
          </a>
        </div>
      </div>
    </aside>

    <!--LINKS-->
    <section class="links">
      <h3 class="section-header-style">links</h3>
      <div class="links-container">
        <button class="button-section"><span>+ add new</span></button>
        <table class="links-table">
          <tbody>
            <tr>
              <td class="link-title">Home page</td>
              <td class="link-details">
                <a href="#">http://www.homepage.com</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="link-title">Currently offer</td>
              <td class="link-details">
                <a href="#">http://www.currently.com</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="link-title">Blurpix</td>
              <td class="link-details">
                <a href="#">http://www.blurpix.com</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="link-title">Your Site</td>
              <td class="link-details">
                <a href="#">http://www.yoursite.com</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="link-title">Google</td>
              <td class="link-details">
                <a href="#">http://www.google.com</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="link-title">Facebook</td>
              <td class="link-details">
                <a href="#">http://www.facebook.com</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="link-title">Dashboard</td>
              <td class="link-details">
                <a href="#">http://www.dashboard.com</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="link-title">Blurax</td>
              <td class="link-details">
                <a href="#">http://www.blurax.com</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="link-title">Piece of Wine</td>
              <td class="link-details">
                <a href="#">http://www.pieceofwine.com</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="link-title">Twitter</td>
              <td class="link-details">
                <a href="#">http://www.twitter.com</a>
                <div class="links-icons">
                  <img src="../images/icons/link.png" class="link-icon" />
                  <img src="../images/icons/trash.svg" class="trash-icon" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="button-section"><span>+ add new</span></button>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>
