.general-statistics {
  @include container-box;
  @include respond-to("small") {
    margin: 10px;
  }

  .statistics-form-date {
    min-height: 130px;
    @include flex-center;
    @include border-bottom-main;

    form {
      @include flex-center;
      @include respond-to("extra-small") {
        display: flex;
        flex-direction: column;
      }

      .InpDate {
        display: flex;
        align-items: center;
        @include border-main;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        height: 40px;
        @include respond-to("extra-small") {
          padding: 0;
        }

        .input-date {
          font-family: $paragraph-font;
          border: none;
          font-size: 14px;
          background-color: #ffffff;
          @include respond-to("extra-small") {
            width: 130px;
          }
          &:hover {
            cursor: pointer;
          }
        }

        .input-date-start {
          padding-left: 5px;
        }

        .input-date-end {
          @include border-left-main;
          padding-left: 15px;
          @include respond-to("extra-small") {
            padding-left: 5px;
          }
        }

        img {
          width: 14px;
          height: 14px;
          margin-right: 10px;
          @include respond-to("extra-small") {
            display: none;
          }
        }
      }
    }
  }

  .statistics-table {
    min-height: 150px;
    @include flex-center;
    margin: 25px auto;

    tbody {
      max-width: 300px;
      margin: 0 40px;

      tr {
        @include border-bottom-main;
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
          @include hover-row;
        }

        td:nth-child(odd) {
          @include paragraph-style;
          font-weight: 600;
        }

        td:nth-child(even) {
          @include paragraph-table-number;
        }
      }
    }
  }

  .chart {
    max-width: 1170px;
    padding: 0 20px;
    margin: 50px auto 0;
    p {
      @include paragraph-style;
      font-weight: 600;
    }
  }
}
